@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli!</h1>
    <h2 class="display-4">IS Bolnica</h2>
    <p>Za početak odaberite padajući izbronik <i>Menu</i> u gornjem lijevom kutu.</p>
</div>
